#techCol{
  display: flex;
  justify-content: center;
}

#cores,
#capsules,
#payloads {
  width: 431px;
  height: 600px;
  border: 1px solid black;
}

#pads {
  width: 432px;
  height: 600px;
  border: 1px solid black;
  display:flex;
  flex-direction: column;
}
#landingPads,
#launchPads {
  height: 300px;
  border: 1px solid black;
}
