.unsubmitted {
  display: none;
}

#ISSContainer{
  display: flex;
  justify-content: center;
}

#ISSContainer *{
  font-family: arial;
}
#wheresISS{
  width: 858px;
  border: black solid 1px;
  padding: 20px 30px;
}

#wheresISS>h1{

}

#wheresISSPos{
  font-size: 20px;
}

#whenCanISee{
  border: black solid 1px;
  width: 858px;
  padding: 20px 30px;
}

#ISSformBox{

  display: flex;
  flex-direction: column;
}

#ISSformFirstLine{
  display: flex;

}

#ISSformFirstLine>div:first-of-type,
#ISSformFirstLine>div:last-of-type{
  display: flex;
  flex-direction: column;
}

.map {
  height: 400px;
  width: 800px;
  border-radius: 5px;
  margin: 0 auto;
  border: 4px solid rgba(0,0,0,0.8);
}
