/*    Universal Styles */
* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/background.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: 100% 115%
}

.mainContainer{
  width: 1800px;
  height: 700px;
  margin: 0 auto;
  border: 2px black solid;
  padding: 40px 10px;
  border-radius: 50px;
  background-color: rgba(200,200,200,0.5);
}

/**************Header********/
#headerMain {
  color: #fff;
  font-family: 'Spicy Rice', cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 89px;
  text-align: center;
  text-shadow: 3px 0px 1px #000, 0px -3px 1px #000, 0px 3px 1px #000, -3px 0px 1px #000;
  letter-spacing: 1.2px;
  position: relative;
  margin-bottom: 0px;
}

#headerSecondary{
  font-size: 24px;
  line-height: normal;
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-family: 'Righteous', cursive;
  text-shadow: 3px 0px 3px #000, 0px -2px 5px #000, 0px 2px 2px #000, -2px 0px 2px #000;
  margin-top: 0;
  letter-spacing: 1px;
}

#spaceman {
  position: absolute;
  width: 112px;
  left: 620px;
  top: -8px;
}

/********** SpaceX Nav ************/

#spaceXContain {
  position:relative;
}
#nav{
  position:absolute;
  top: 20px;
  left: 20px;
}
#nav a{
  color: black;
  background-color: grey;
  padding: 10px;
  border: 1px black solid;
}

/****intros*******/
#launchIntro,
#vehicleIntro,
#techIntro{
  border-bottom: 1px solid black;
  height: 60px;
  margin-bottom: 10px;
}
